recursive-include django_toolchains/conf *.tmpl
recursive-include django_toolchains/templates *.dot *.html
recursive-include django_toolchains/static *
recursive-include django_toolchains/locale *.po *.mo
recursive-include docs *
include LICENSE
include README.rst
include CHANGELOG.md
include tox.ini manage.py Makefile
recursive-include tests *.py